body{
    margin: 0;
    background-color: rgb(98, 177, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fasthand', cursive;
}
.form{
    background-color: rgb(160, 231, 231);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-items: center;
    width: 60%;
    height: 80%;
    box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.5);

}
#название {
    background-color: rgb(98, 177, 177);
    border: none;
    height: 50px;
    margin: 0 auto;
    text-align: left;
}
h1,h2 {
    text-align: center;
    margin: 5px;
}
.error{
background-color: red;
}
.submit{
    background-color: darkcyan;
    padding: 10px 30px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
} 